<main class="content m-2">


  <ul class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a href="/app/pendingbeftn">Chaque Book Request</a>
    </li>

  </ul>
  <div class="hero hero-sm">
    <div class="hero-body">
      <h1 class="text-primary">Chaque Book Request</h1>
      <div class="btn-group btn-group-block w100">
        <div class="input-group">
          <span class="input-group-addon">Account No</span>
          <input type="text" class="form-input" id="input_mphone" placeholder="108......">
          <button class="btn btn-primary input-group-btn" onclick="check_req()">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 10833001449 -->
  <div class="container" id="output">


  </div>



  <script src="/js/fund_management/chaque_req.js" async></script>
</main>