/*! mono.css v1 | MIT License | Copyright 2017 @kokushing */
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700");
.navbar-container {
  width: 100%;
  position: fixed;
  z-index: 50;
}

.navbar__container {
  display: block;
  padding: 0 15px;
  background-color: #f5f5f59d;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.navbar__flex {
  position: relative;
  width: 100%;
  max-width: 1140px;
  min-height: 75px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__left, .navbar__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.navbar__hamburger {
  display: inline-block;
  cursor: default;
  background-size: contain;
  margin-right: 15px;
  vertical-align: middle;
}

.navbar__search {
  display: inline-block;
}

.navbar__inputwithicon {
  position: relative;
  width: 300px;
}

.navbar__input {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  width: 100%;
  height: 36px;
  border-radius: 18px;
  outline: none;
  padding: 0 30px 0 15px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #c0c7da;
  letter-spacing: .5px;
  word-spacing: 1px;
}

.navbar__input:focus {
  border-color: white;
}

.navbar__button {
  position: absolute;
  top: 3px;
  right: 3px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  outline: none;
  border: none;
  background: #43cb83 url("https://res.cloudinary.com/ajayrawat/image/upload/v1508734484/search_icon_pr2sma.svg") no-repeat;
  background-size: 17px;
  background-position: center;
  cursor: pointer;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
  will-change: background-color;
}

.navbar__button:hover, .navbar__button:focus {
  background-color: #32b46f;
}

.navbar__button:active {
  background-color: #2fac6a;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.navbar__toggler {
  display: none;
}

.navbar__links {
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
}

.navbar__links li {
  position: relative;
  display: inline-block;
}

.navbar__links li:not(:last-child) a {
  padding: 0 15px;
}

.navbar__links li:last-child a {
  padding: 0 0 0 15px;
}

.navbar__links li a {
  display: block;
  color: gray;
  text-decoration: none;
  font-family: inherit;
  font-size: 14px;
  -webkit-transition: color 200ms linear;
  transition: color 200ms linear;
  will-change: color;
}

.navbar__links li a:hover, .navbar__links li a:hover {
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  color: #000;
}

.navbar__hamberger {
  /*display: none;*/
  display: inline-block;
  width: 13px;
  height: 13px;
  background: #fff url("https://res.cloudinary.com/ajayrawat/image/upload/v1508734484/hamburger_icon_o7uviz.svg") no-repeat;
  background-size: contain;
  vertical-align: middle;
}

.navbar__toggler__label {
  display: none;
  font-family: inherit;
  font-size: 16px;
  color: white;
  text-align: right;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.navbar__toggler__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.navbar__sublinks {
  display: none;
  position: absolute;
  width: 175px;
  height: auto;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.navbar__sublinks li {
  width: 100%;
  display: block;
  white-space: nowrap;
}

.navbar__sublinks li:first-child {
  margin-top: 20px;
}

.navbar__sublinks li a {
  display: block;
  padding: 5px 15px 15px !important;
}

.navbar__links li:hover .navbar__sublinks {
  display: block;
}

@media screen and (max-width: 870px) {
  .navbar__flex {
    display: block;
    padding: 15px 0;
  }
  .navbar__left {
    margin-bottom: 15px;
  }
  .navbar__search {
    display: inline-block;
    width: calc(100% - 120px);
  }
  .navbar__inputwithicon {
    position: relative;
    width: 100%;
  }
  .navbar__links {
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
  }
  .navbar__links li:first-child a {
    padding-left: 0;
  }
}

@media screen and (max-width: 440px) {
  .navbar__hamburger {
    display: block;
    margin: 0 auto 15px;
  }
  .navbar__search {
    width: 100%;
  }
  .navbar__toggler__label {
    position: relative;
    display: block;
  }
  .navbar__toggler__input {
    display: block;
  }
  .navbar__toggler__input:checked + .navbar__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar__links {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar__links li a {
    padding: 10px 10px 10px 0 !important;
  }
  .navbar__sublinks {
    display: block;
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
    padding-left: 15px;
    background-color: #f2f2f2;
  }
  .navbar__sublinks li:first-child {
    margin-top: 0;
  }
}

.ajay {
  font-family: sans-serif;
  font-size: 14px;
  position: fixed;
  right: 20px;
  bottom: 10px;
}

.ajay a {
  text-decoration: none;
  color: #333;
}

.ajay a:hover {
  text-decoration: underline;
  color: #000;
}

sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 95;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #f5f5f59d;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  /* The navigation menu links */
  /* When you mouse over the navigation links, change their color */
  /* Position and style the close button (top right corner) */
}

sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: gray;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

sidenav a:hover {
  color: #000;
}

sidenav .sidenav {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.tigger {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  color: #000;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.tigger :hover {
  background-color: tomato;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
main {
  -webkit-transition: margin-left .5s;
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/*# sourceMappingURL=index.css.map */