<main class="content">
  <div class="margin" style="margin-top: 60px;"></div>
  <div class="hero-sm bg-gray">
    <div class="hero-body">
      <h1>Customer Master</h1>
    </div>
  </div>
  <div class="container">
    <!-- normal input group with button -->
    <div class="input-group">

      <input type="text" class="form-input" placeholder="Type Account Number">
      <button class="btn btn-primary input-group-btn">Search</button>
    </div>
    <div class="container">
      <br>
      <div class="columns">
        <div class="column col-xs-6">
          <h4>Name:</h4>
          <h6>Status:</h6>
        </div>
        <div class="column col-xs-3">col-xs-6</div>
        <div class="column col-12">
          <div class="column col-3">col-xs-6</div>
          <div class="column col-3">col-xs-6</div>
          <div class="column col-3">col-xs-6</div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</main>