<main class="content m-2">


  <ul class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a href="/report/customerInfo">Customer Master</a>
    </li>

  </ul>
  <div class="hero bg-gray">
    <div class="hero-body">
      <h1 class="text-primary">Customer Master</h1>
    </div>
  </div>
  <div class="container">
    <!-- normal input group with button -->
    <div class="input-group">

      <input type="text" id="acno" class="form-input" placeholder="Type Account Number">
      <button class="btn btn-primary input-group-btn" id="btn-loading" onclick="custsearch()"> Search</button>
      <button class="btn btn-primary input-group-btn disabled" onclick="printArea()" id="btnprint">Print</button>
    </div>
    <div class="container">
      <br>
      <div class="columns" id="output">


        <!-- ############################ optput -->
        <!-- <div class="container p-2">
          <h5 class="text-center w100 text-bold p-2">Customer Information
          </h5>
          <div class="columns">
            <div class="column col-8 w100 card bg-gray p-2 ">
              <h4 class="h4 text-primary text-clip">${ACCOUNT_NAME}</h4>

              <p class="text-tiny">Customer Type: ${NAME}</p>
              <br />
              <h5 class="h5 text-primary text-clip">Customer Information</h5>
              <p class="text-tiny">
                Customer ID: ${CAST_ID} <br />
                Name: ${CUSTOMER_NAME} <br />
                Father Name: ${NAME} <br />
                Mother Name: ${NAME} <br />
                Spouse Name: ${NAME} <br />
                Date of Birth: ${NAME} <br />
                Photo ID: ${NAME} <br />
                Contact No: ${NAME} <br />
                Address: ${NAME} <br />
                TIN: ${NAME} <br />
                Ocupation: ${NAME} <br />
                Blood Group: ${NAME} <br />
                Religion: ${NAME} <br />
              </p>
            </div>
            <div class="column col-4 card bg-gray p-2 w100">
              <h5 class="h5 text-primary text-clip">Image</h5>
              <img src="" alt="No Data Found" srcset="">
            </div>
          </div>
          <div class="columns">


            <div class="column col-12 card bg-gray p-2 w100">
              <h5 class="h5 text-primary text-clip">Account Information</h5>
              <table class="table">
                <thead>
                  <tr>

                    <th class="text-tiny text-bold">SL</th>
                    <th class="text-tiny text-bold">Titel</th>
                    <th class="text-tiny text-bold">Type</th>
                    <th class="text-tiny text-bold">No</th>
                    <th class="text-tiny text-bold">Status</th>
                  </tr>
                </thead>
                <tbody id="acinfo">
                  <tr>
                    <td class="text-tiny">SL</td>
                    <td class="text-tiny">Titel</td>
                    <td class="text-tiny">Type</td>
                    <td class="text-tiny">No</td>
                    <td class="text-tiny">Status</td>
                  </tr>

                </tbody>
              </table>




              <h5 class="h5 text-primary text-clip p-2">Nominee Information</h5>

              <div class="columns" id="nominee">

                <div class="column card m-1 col-4">
                  <h6 class="h6 text-primary text-bold">
                    Name: ${NAME}
                  </h6>
                  <p class="text-tiny">
                    Father: ${NAME} <br />
                    Mother: ${NAME} <br />
                    Spouse: ${NAME} <br />
                    Date of Birth: ${NAME} <br />
                    Photo ID: ${NAME} <br />
                    Contact No: ${NAME} <br />
                    Address: ${NAME} <br />
                    Ocupation: ${NAME} <br />
                    Nominee Share: ${NAME} <br />
                    Type: ${NAME} <br />
                  </p>
                </div>

              </div>
              <div class="column col-12">
                <div class="columns">
                  <div class="column col-6">
                    <h5 class="h5 text-primary text-clip">Authorization Information</h5>
                    <h6 class="h6 text-clip">Reg Status</h6>
                    <p class="text-tiny" id="introducer">
                      Reg Status: ${NAME} <br />
                      Reg date: ${NAME} <br />
                      Authorized By: ${NAME} <br />
                      Last Updated By: ${NAME} <br />
                      Link Account: ${NAME} <br />
                      Agent: ${NAME} <br />
                    </p>
                  </div>
                  <div class="column col-6">
                    <h5 class="h5 text-primary text-clip">Introducer Information</h5>
                    <p class="text-tiny" id="introducer">
                      Name: ${NAME} <br />
                      Address: ${NAME} <br />
                      Relation: ${NAME} <br />
                      Contact No: ${NAME} <br />
                    </p>
                  </div>
                </div>
              </div>




            </div>



          </div>
        </div>
      </div>
    </div> -->




        <!-- ############################ optput -->

      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  <script src="/js/funCustomerInfo.js"></script>
</main>