<main class="content">
  <section class="section">
    <div class="inner">
      <h2>Customer Master</h2>
      <!-- <p>Mono.css is a minimal CSS framework. <br>A simple monochrome design can be applied and only a minimum
        style is prepared so that users can freely expand.</p> -->
    </div>
  </section>
  <div class="container">
    <div class="col-12">
      <input type="text">
      <button class="btn">Search</button>
      
     
    </div>
  </div>
</main>