<main class="content m-2">

    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/report/utilityreport">Utility Report</a>
        </li>

    </ul>
    <div data-aos="zoom-out" class="hero-sm bg-white my-2">
        <div class="hero-body">
            <h1 class="text-primary">Utility Report</h1>
        </div>
    </div>
    <div class="container">
        <!-- normal input group with button -->
        <div class="input-group">

            <input type="date" id="fromdate" class="form-input" placeholder="Type Account Number">
            <input type="date" id="todate" class="form-input" placeholder="Type Account Number">
            <div class="form-group">
                <select class="form-select" id="uvanls">
                    <option value="ALL">All</option>
                </select>
            </div>

            <button class="btn btn-primary input-group-btn" id="btn-loading" onclick="utilityinfo()"
                id="btnloading">Transaction
                Report
            </button>
            <!-- <button class="btn btn-primary-link input-group-btn" id="btn-loading" onclick="trsummary()" id="btnloading">
                Transaction Summary
            </button> -->

            <button class="btn btn-primary-link input-group-btn" id="btn-loading-1" onclick="utilitySummary()"
                id="btnloading">
                Summary
            </button>
            <button class="btn btn-primary input-group-btn disabled" id="btn-print" onclick="printArea()">Print
            </button>
        </div>

    </div>

    <div class="container">

        <div class="columns" id="output">

        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <script src="/js/funUtilityReport.js"></script>

</main>