<main class="content">


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Utility Report
                Summary</li>
        </ol>
    </nav>

    <div class="container">
        <div class="px-4 py-5 m-0 text-center">

            <h1 class="display-5 text-primary fw-thin">Utility Transaction Report
                Summary</h1>
            <div class="col-lg-6 mx-auto" style="width: 100%;">
                <div class="input-group mb-3 py-2">
                    <input type="date" id="fromdate" class="form-control" />
                    <input type="date" id="todate" class="form-control" />
                    <input type="text" id="acno" class="form-control" placeholder="Type Account Number" />
                    <button onclick="utilityinfosummary()()" class="btn btn-outline-primary" type="button">
                        Transaction Report
                        Summary
                    </button>
                </div>
            </div>
        </div>
        <div class="container">
            <br>
            <div class="columns" id="output">
            </div>
        </div>
    </div>
    <script src="/js/utilityreport.js"></script>
</main>