<main class="content">

    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/report/utilityreport">Utility Report</a>
        </li>

    </ul>
    <div class="hero bg-gray">
        <div class="hero-body">
            <h1 class="text-primary">Utility Report</h1>
        </div>
    </div>
    <div class="container">
        <!-- normal input group with button -->
        <div class="input-group">

            <input type="date" id="fromdate" class="form-input" placeholder="Type Account Number">
            <input type="date" id="todate" class="form-input" placeholder="Type Account Number">
            <div class="form-group" id="ddkey" onclick="getuvanls()">
                <select class="form-select" id="uvanls">

                </select>
            </div>
            <button class="btn btn-primary input-group-btn" onclick="getuvanls()">List</button>
            <button class="btn btn-primary input-group-btn" onclick="utilityinfosummary()">Transaction Report
                Summary</button>
            <!-- <button class="btn btn-primary input-group-btn" onclick="custsearch()">Bill Report Summary</button> -->
            <!-- <button class="btn btn-primary input-group-btn" onclick="custsearch()">Search</button> -->
            <!-- <button class="btn btn-primary input-group-btn" onclick="custsearch()">Search</button> -->
        </div>
        <!-- <div class="input-group">

            <input type="date" id="fromdate" class="form-input" placeholder="Type Account Number">
            <input type="date" id="todate" class="form-input" placeholder="Type Account Number">
            <input type="text" id="acno" class="form-input" placeholder="Type Account Number">
            <button class="btn btn-primary input-group-btn" onclick="utilityinfosummary()">Transaction Report
                Summary</button>
            <!-- <button class="btn btn-primary input-group-btn" onclick="custsearch()">Bill Report Summary</button> -->
        <!-- <button class="btn btn-primary input-group-btn" onclick="custsearch()">Search</button> -->
        <!-- <button class="btn btn-primary input-group-btn" onclick="custsearch()">Search</button> -->
    </div> -->

    <div class="container">
        <br>
        <div class="columns" id="output">
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <script src="/js/utilityreport.js"></script>
    <!-- <script>
        getuvanls()
    </script> -->
</main>