@font-face {
	font-family: 'RobotoSlab';
	src: url('./font/RobotoSlab-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('./font/RobotoFonts/Roboto-Light.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Thin';
	src: url('./font/RobotoFonts/Roboto-Thin.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'), local('MaterialIcons-Regular'),
		url(./material/font/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

* {
	font-family: 'Roboto', sens-serif;
}

td {
	font-family: 'RobotoSlab', serif;
}
h1,
h2,
h3 {
	font-family: 'Roboto-Thin', sens-serif;
}

:root {
	--frost: rgba(255, 255, 255, 0.7);
	--default-bg-blur: blur(10px);
}

#navbar {
	height: 70px;
	padding: 5px 5px;
	width: 100%;
	/* bottom: 0; */
	top: 0;
	right: 0;
	left: 0;
	z-index: 5;
}

#sidenav {
	display: block;
	margin-top: 70px;
	position: absolute;
	width: 200px;
	height: 100%;
	left: 0;
}

.bg-frost {
	background-color: var(--frost);
	backdrop-filter: var(--default-bg-blur);
}
.bg-frost-dark {
	background-color: var(--frost-dark);
	backdrop-filter: var(--default-bg-blur);
	color: #000;
}
.bg-black {
	background-color: black !important;
}
.bg-none {
	background: none !important;
	background-color: rgba(255, 255, 255, 0) !important;
}
.w100 {
	width: 100%;
}
.vw100 {
	width: 100vw;
}
.h100 {
	height: 100%;
}

.text-micro {
	font-size: .4em !important;
}

.table-cluster td {
	padding: .1rem !important;
}
