@font-face {
	font-family: 'RobotoSlab';
	src: url('./font/RobotoSlab-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('./font/RobotoFonts/Roboto-Light.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Thin';
	src: url('./font/RobotoFonts/Roboto-Thin.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'), local('MaterialIcons-Regular'),
		url(./material/font/MaterialIcons-Regular.ttf) format('truetype');
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #8d8d8d00;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(141, 141, 141, 0.144);
	border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(150, 150, 150);
}

html {
	scroll-behavior: smooth;
}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

* {
	font-family: 'Roboto', sens-serif;
}

/* td,
th {
	font-family: 'RobotoSlab', 'Times New Roman', Times, serif;
} */
#output *,
#renderthis * {
	font-family: 'RobotoSlab', 'Times New Roman', Times, serif;
}

h1,
h2,
h3 {
	font-family: 'Roboto-Thin', sens-serif;
}

:root {
	/* --frost: rgba(255, 255, 255, 0.555); */
	--frost-bright: rgba(255, 255, 255, 0.5);
	--frost-dark: rgba(31, 31, 31, 0.5);
	--default-bg-blur: blur(10px);
}

#navbar {
	height: 70px;
	padding: 5px 5px;
	width: 100%;
	/* bottom: 0; */
	top: 0;
	right: 0;
	left: 0;
	z-index: 5;
}

/* .bg-frost {
	background-color: var(--frost);
	backdrop-filter: var(--default-bg-blur);
} */

.bg-frost {
	background-color: var(--frost-bright);
	backdrop-filter: var(--default-bg-blur);
	-webkit-backdrop-filter: var(--default-bg-blur);
	color: #000;
}
.bg-frost-dark {
	background-color: var(--frost-dark) !important;
	backdrop-filter: var(--default-bg-blur);
	-webkit-backdrop-filter: var(--default-bg-blur);
}

.bg-frost-grto {
	background-color: var(--frost-bright);
	color: #000;
}
.bg-frost-grto {
	background-color: var(--frost-dark);
	color: #000;
}

.bg-black {
	background-color: var(--frost-dark) !important;
}

.bg-none {
	background: none !important;
	background-color: rgba(255, 255, 255, 0) !important;
}

.w100 {
	width: 100%;
}

.vw100 {
	width: 100vw;
}

.h100 {
	height: 100%;
}

.bg-shade {
	background-color: rgb(214, 214, 214);
}

.card-shadow {
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.noboder {
	border: none !important;
}

.flexing-model {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: top;
}

#notification {
	/* display: block; */
	position: absolute;
	height: 100%;
	max-width: 30vw;
	/* bottom: 0; */

	/* right: 0; */
	right: 0;
	z-index: 999;
	overflow: scroll;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	user-select: none;
	transition: ease-in .3s;
	overflow-y: scroll;
	overflow-x: hidden;
}
#sidenav {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	max-width: 200px;
	height: 100%;
	/* background-color: #c9e2fc; */

	/* background-color: #eeeeee; */
	background-color: #f8f8f831;
	padding: 90px 0 0 10px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.d-none {
	display: none !important;
}

#sidenav span {
	transition: ease-in-out;
}

.font-roboto {
	font-family: Roboto, Arial, Helvetica, sans-serif !important;
}

.displaynull {
	display: none;
}
.mui-adjust {
	display: flex !important;
	justify-content: left;
	align-items: center;
	flex-direction: row;
}
/* .text-tiny {
	font-size: .8em;
} */
.text-micro {
	font-size: .5rem !important;
}
