<main class="content m-2">


  <ul class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a href="customerInfo">Customer Master</a>
    </li>

  </ul>
  <div class="hero ">
    <div class="hero-body">
      <h1 class="text-primary">Customer Master</h1>
    </div>
  </div>
  <div class="container">
    <!-- normal input group with button -->
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
      <div class="input-group">

        <input type="text" id="acno" class="form-input" placeholder="Type Account Number">
        <button class="btn btn-primary input-group-btn" id="btn-loading" onclick="custsearch()"> Search</button>
        <button class="btn btn-primary input-group-btn disabled" onclick="printArea()" id="btnprint">Print</button>
      </div>
    </div>
    <div class="container">
      <br>
      <div class="columns card p-2" id="output" style="display: none;">



        <!-- ############################ optput -->

      </div>


      <script src="/js/funCustomerInfo.js"></script>
</main>