<section>
  <div class="modal p-2" id="homeModel">
    <a href="#close" class="modal-overlay" aria-label="Close" onclick="closeModel()"> Close</a>
    <div class="modal-container" id="modeloutput">
      <h3 class="h3 text-primary p-2">Agent Monthly Activity</h3>
      <canvas data-aos="fade-up" id="dailydrcragent" style="width:100%;"></canvas>
    </div>
  </div>
</section>
<br>
<section id="page_1">

  <!-- Body Start -->
  <div class="container" style="margin-top: 40px;">

    <div class="columns">

      <!-- Dashboard Start -->
      <div class="column col-12">
        <div class="container">
          <section class="columns row my-2">
            <div class="column col-3">
              <div class="card card-round bg-primary" style="padding: 1rem ;">
                <div class="mx-2">
                  <span class="text-large">Balance: </span>
                  <span class="text-large" id="t_balance"></span>
                </div>
              </div>
            </div>

            <div class="column col-3">
              <div class="card card-round bg-secondary " style="padding: 1rem ;" id="Pending_Account">
                <div class="mx-2">
                  <span class="text-large">Pending Account: </span>
                  <span class="text-large" id="pending_ac"></span>
                </div>
              </div>
              <!-- <div class="card bg-secondary" id="Pending_Account">
                <div class="card-header">
                  <div class="card-title h5">Pending Account</div>
                </div>
                <div class="card-body text-bold" id="pending_ac">
                  ...
                </div>
              </div> -->
            </div>

            <div class="column col-3">
              <div class="card card-round bg-secondary " style="padding: 1rem ;">
                <div class="mx-2">
                  <span class="text-large">Account: </span>
                  <span class="text-large" id="t_ac">
                    <div class="loading"></div>
                  </span>
                </div>
              </div>
            </div>

            <div class="column col-3">
              <div class="card card-round bg-primary" style="padding: 1rem ;" id="t_event_card">
                <div class="mx-2">
                  <span class="text-large">Account: </span>
                  <span class="text-large" id="t_event">...</span>
                </div>
              </div>
            </div>
            <!-- scrollToSmoothly(document.getElementById('page_2').offsetTop, 500) -->
          </section>



          <section class="row my-2">
            <div class="m-2 p-2 card card-round row d-flex"
              style="flex-direction: row; justify-content: center; align-items: top;">
              <div class="col-4 mx-1">
                <section data-aos="fade-down" class="card noboder p-2" id="pendingEventBlock">
                  <div class="loading loading-lg"></div>
                </section>
                <br>
                <section data-aos="fade-right" class="card card-round noboder p-2" id="masterblock">
                  <div class="loading loading-lg"></div>
                </section>
              </div>
              <div class="col-8">
                <section data-aos="fade-left" class="card card-round noboder" style="height: 100%;">
                  <div class="card-header">
                    <div data-aos="fade-left" class="card-title text-primary h5">Transaction</div>
                  </div>
                  <div class="columns col-gapless">
                    <div class="column col-6 mt-2 px-1">
                      <section>
                        <canvas data-aos="fade-up" id="dailydrcr"></canvas>
                      </section>
                    </div>
                    <div class="column col-6">
                      <section data-aos="fade-right" class="card card-round noboder" id="todaysEventBlock">
                        <div class="loading loading-lg"></div>
                      </section>
                    </div>
                  </div>
                </section>
              </div>
            </div>

          </section>
          <br>
          <!-- page 2 -->
          <section id="page_2" class=" row my-2 columns" data-aos="fade-up">
            <div class="m-2 p-2 card card-round row d-flex"
              style="width: 100%; flex-direction: row; justify-content: center; align-items: top;">
              <div class="column col-6">
                <section id="agent_banlance">
                  <div class="loading loading-lg"></div>
                </section>

              </div>

              <div class="column col-6">
                <section id="customer_banlance" class="card noboder p-2 m-1">
                  <div class="loading loading-lg"></div>
                </section>
              </div>
            </div>
          </section>
          <br>
          <!-- page 3 -->
          <section id="page_3" class="row my-2 columns" data-aos="fade-up">
            <div class="m-2 p-2 card card-round row d-flex"
              style="width: 100%; flex-direction: row; justify-content: center; align-items: top;">
              <div class="column col-6">
                <section class="card noboder p-1 m-1">
                  <div class="card-header">
                    <div d class="card-title text-primary h3 py-2">Balance</div>
                  </div>
                  <canvas data-aos="fade-up" id="Chart" style="width:100%;max-width:600px"></canvas>
                </section>
              </div>

              <div class="column col-6">
                <section class="card card-round noboder my-2 p-1" id="accountStatusBlock">
                  <div class="loading loading-lg"></div>
                </section>
              </div>
            </div>
          </section>

        </div>

      </div>
    </div>

  </div>
  </div>
  <!-- Body End -->

  <script src="/JS/lib/scroll.js"></script>
  <script src="/JS/dashboard/index.js" async></script>
  <script src="/JS/index.js"></script>