<main class="content">

    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/report/utilityreport">Transactions Report</a>
        </li>

    </ul>
    <div class="hero-sm bg-white">
        <div class="hero-body">
            <h1 class="text-primary">Transactions Report</h1>
        </div>
    </div>
    <div class="container">
        <!-- normal input group with button -->
        <div class="input-group">

            <input type="text" id="key" class="form-input" placeholder="Transactions No">



            <button class="btn btn-primary input-group-btn" id="btn-loading" onclick="init()"
                id="btnloading">Transaction
                Report
            </button>
            <button class="btn btn-primary input-group-btn disabled" id="btn-print" onclick="printArea()"
                id="btnloading">Print
            </button>

        </div>

    </div>

    <div class="container">

        <div class="columns" id="output">

        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <script src="/js/funTransactionsReport.js"></script>

</main>