<footer>
  <div class="p-centered text-center" style="margin: 5rem 0rem ;">
    <% if (darkmode==='true' ) { %>

      <div style="display:flex; flex-direction: column; justify-content: center; align-items: center;">
        <img src="/img/autometa/SVG/aflogo-gradient-h.svg" style="height: 3rem; margin: 1rem ;">
        <small> All Rights Reserved <a href="http://automatafactory.com">automatafactory.com </a>&copy;
          2022</small>
      </div>
      <%} else { %>
        <div style="display:flex; flex-direction: column; justify-content: center; align-items: center;">
          <img src="/img/autometa/SVG/aflogo-gradient-h.svg" style="height: 3rem; margin: 1rem ;">
          <small> All Rights Reserved <a href="http://automatafactory.com">automatafactory.com </a>&copy;
            2022</small>
        </div>
        <% } %>

  </div>
</footer>

<script src="/JS/lib/js.cookie.min.js" defer></script>
<script src="/JS/lib/aos/aos.js"></script>
<script>
  AOS.init();
</script>
<script src="/JS/lib/moment/moment.js"></script>
<% if(role!="GUEST" ){ %>

  <!-- <script src="/JS/lib/moment/moment-with-locales.min.js.map" async></script> -->
  <script src="/JS/lib/chart.js" defer></script>
  <script src="/JS/ui.js" defer></script>

  <!-- <script src="/JS/notification.js" async></script> -->
  <% } %>