<div id="sidebar" class="hide-md bg-opt">
    <div class="hero hero-sm">
        <div class="hero-body">
            <a href="/">
                <h2 class="text-primary text-center">

                    Home
                </h2>
            </a>
        </div>
    </div>

    <div class="docs-nav">
        <div class="accordion-container">
            <div class="accordion">
                <input id="accordion-getting-started" type="checkbox" name="docs-accordion-checkbox" hidden="">
                <% if(role==='ADMIN' || role==='APPROVAL' ){ %>
                    <label class="accordion-header text-primary " for="accordion-getting-started">
                        <i class="icon icon-arrow-right"></i>
                        Apps</label>
                    <% } %>
                        <div class="accordion-body">
                            <ul class="menu menu-nav">
                                <% if(role==='ADMIN' || role==='APPROVAL' ){ %>
                                    <li class="menu-item">
                                        <a href="/sms">Massage</a>
                                    </li>
                                    <input type="checkbox" id="accordion-2" name="accordion-checkbox" hidden>
                                    <!-- <label class="accordion-header text-primary" for="accordion-2">

                                        Fund Management
                                    </label>
                                    <% } %>
                                        <div class="accordion-body" style="margin-left: 1rem;">
                                            <li class="menu-item">
                                                <a href="/app/pendingbeftn">Incoming eft </a>
                                            </li>
                                        </div> -->


                            </ul>

                        </div>
            </div>
            <div class="accordion">
                <input id="accordion-elements-1" type="checkbox" name="docs-accordion-checkbox" hidden="">
                <label class="accordion-header text-primary" for="accordion-elements-1">
                    <i class="icon icon-arrow-right"></i>
                    Fund Management</label>
                <div class="accordion-body">
                    <ul class="menu menu-nav">
                        <li class="menu-item">
                            <% if(role==='ADMIN' || role==='APPROVAL' ){ %>
                                <a href="/page/timeline">Timeline</a>
                        </li>
                        <li class="menu-item"><a href="/app/pendingbeftn">Incoming eft</a></li>
                        <% } %>

                    </ul>
                </div>
            </div>
            <div class="accordion">
                <input id="accordion-elements-2" type="checkbox" name="docs-accordion-checkbox" hidden="">
                <label class="accordion-header text-primary" for="accordion-elements-2">
                    <i class="icon icon-arrow-right"></i>
                    Customer Master</label>
                <div class="accordion-body">
                    <ul class="menu menu-nav">

                        <!-- <% if(role==="USER" || role==="AGENT" ){ %> -->
                        <li class="menu-item"><a href="/report/accountInfo">Add Customer</a></li>
                        <li class="menu-item"><a href="/report/accountInfo">Add Account</a></li>
                        <!-- <% } %> -->
                        <li class="menu-item"><a href="/kycupdate">Eco Code Update</a></li>
                        <% if(role==='ADMIN' || role==='APPROVAL' ){ %>
                            <li class=" menu-item">
                                <a href="/customerInfo">Customer Info</a>
                            </li>
                            <% } %>

                    </ul>
                </div>
            </div>
            <div class="accordion">
                <input id="accordion-layout" type="checkbox" name="docs-accordion-checkbox" hidden="">
                <label class="accordion-header text-primary" for="accordion-layout">
                    <i class="icon icon-arrow-right"></i>
                    Transaction</label>
                <div class="accordion-body">
                    <ul class="menu menu-nav">



                        <% if(role!="USER" || role!="AGENT" ){ %>
                            <li class="menu-item"><a href="/remittanceProcessing">

                                    Remittance</a></li>
                            <% } %>
                                <!-- <% if(role!="GUEST" ){ %>
                                    <li class="menu-item"><a href="/remittanceProcessing">Remittance</a></li>
                                    <% } %> -->
                                <% if(role==="USER" || role==="AGENT" ){ %>
                                    <!-- <li class="menu-item"><a href="/requestRemittance">Request Remittance</a></li> -->
                                    <% } %>
                                        <% if(role==="USER" || role==="AGENT" ){ %>

                                            <!-- <li class="menu-item"><a href="/report/accountInfo">Teller Operation</a> -->

                                            <li class="divider" data-content="Payment"></li>
                                            <li class="menu-item"><a href="/remittanceProcessing">Remittance</a>
                                            </li>
                                            <li class="menu-item"><a href="/report/accountInfo">Utility</a>
                                            </li>
                                            </li>
                                            <% } %>
                    </ul>
                </div>
            </div>
            <div class="accordion">
                <input id="accordion-components" type="checkbox" name="docs-accordion-checkbox" hidden="">
                <label class="accordion-header  text-primary" for="accordion-components">
                    <i class="icon icon-arrow-right"></i>
                    Reports</label>
                <div class="accordion-body">
                    <ul class="menu menu-nav">




                        <div class="accordion">
                            <input type="checkbox" id="accordion-1" name="accordion-checkbox" hidden>
                            <label class="accordion-header text-primary" for="accordion-1">
                                <i class="icon icon-arrow-right"></i>
                                Account Information
                            </label>
                            <div class="accordion-body" style="margin-left: 1rem;">
                                <li class="menu-item "><a href="/report/accountStatment">Statment</a></li>
                                <li class="menu-item"><a href="/report/accountInfo" class="text-ellipsis">Term Account
                                        Status</a>
                                </li>
                                <% if(role==='ADMIN' || role==='APPROVAL' ){ %>
                                    <li class="menu-item"><a href="/report/businessinfo">Account Info</a></li>

                                    <% } %>
                            </div>
                        </div>
                        <div class="accordion">
                            <input type="checkbox" id="accordion-3" name="accordion-checkbox" hidden>
                            <label class="accordion-header text-primary" for="accordion-3">
                                <i class="icon icon-arrow-right"></i>
                                Operational Information
                            </label>
                            <div class="accordion-body" style="margin-left: 1rem;">
                                <% if(role==='ADMIN' || role==='APPROVAL' ){ %>
                                    <li class="menu-item"><a href="/admin/routing">Bank Routing</a></li>
                                    <li class="menu-item"><a href="/report/mis">MIS</a></li>
                                    <li class="menu-item "><a href="/reconciliation">Reconciliation</a></li>

                                    <% } %>
                            </div>
                        </div>


                        <% if(role==='ADMIN' || role==='APPROVAL' ){ %>
                            <li class="menu-item"><a href="/report/remittanceReport">Remittance Report</a>
                            </li>
                            <% } %>
                                <li class="menu-item"><a href="/report/utilityreport">Utility Report</a>
                                </li>

                    </ul>
                </div>
            </div>


        </div>
    </div>
</div>