<!DOCTYPE html>
<html lang="en">
<%- include('../head'); %>

    <body id="body-pd">
        <%- include('../navbar'); %>
            <span style="margin-top: 70px;"></span>
            <%- include('customerInfo/index'); %>
                <%- include('../footer'); %>
    </body>

</html>