<!DOCTYPE html>
<html lang="en">
<%- include('../head'); %>

    <body id="body-pd">
        <%- include('../navbar'); %>

            <%- include('statement/index'); %>
                <%- include('../footer'); %>
    </body>

</html>