<main class="content m-2">


    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a>MIS</a>
        </li>

    </ul>

    <div class="modal modal-sm bg-frost" id="modal-id">
        <a href="#close" class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a href="#close" class="btn btn-clear float-right" onclick="modelexit()" aria-label="Close"></a>
                <div class="modal-title text-primary h5">Generate Data</div>
            </div>


            <div class="modal-body" id="modal_body_output">
                <div class="content">
                    <p>Input the last day of report month.</p>
                    <div class="input-group">
                        <span class="input-group-addon">Month</span>
                        <input type="date" class="form-input" id="gen_date" placeholder="Input Last Day of month">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="btn_loading" onclick="gendata()">Generate</button>
            </div>

        </div>
    </div>


    <div data-aos="zoom-out" class="hero-sm">
        <div class="hero-body">
            <h1 class="text-primary">Management Information System</h1>
        </div>
    </div>
    <div data-aos="zoom-out" class="container mb-2">
        <!-- normal input group with button -->
        <div class="input-group col-4">

            <input type="month" id="param" class="form-input" placeholder="Type Account Number">
            <button class="btn btn-primary input-group-btn" onclick="mis_part1()" id="btn-loading">Search
            </button>
            <button class="btn btn-secendery  input-group-btn" onclick="modeladd()">Generate Data
            </button>
            <button class="btn btn-primary input-group-btn disabled" onclick="printAreaSys()" id="btnprint">Print
            </button>

        </div>

    </div>

    <div class="container">

        <progress class="progress d-hide" id="progress" max="100"></progress>

        <div class="columns d-hide" style="overflow-y: scroll;" id="output">

        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

        <script src="/js/mis/mis.js"></script>

</main>