<section style="margin-top: 50px;">
</section>


<section>
  <div class="modal p-2" id="homeModel">
    <a href="#close" class="modal-overlay" aria-label="Close" onclick="closeModel()"> Close</a>
    <div class="modal-container" id="modeloutput">
      <h3 class="h3 text-primary p-2">Agent Monthly Activity</h3>
      <canvas data-aos="fade-up" id="dailydrcragent" style="width:100%;"></canvas>
    </div>
  </div>
</section>
<!-- <section class="w100 column col-12">
  <div class="columns">
    <div class="hero bg-bright w100 column col-12">
      <div class="hero-body"
        style="display: flex; flex-direction: column; justify-content: center;justify-items: center; align-items: center;">
        <img data-aos="flip-right" src="/img/abdlogo.svg" alt="" class="col-2 p-2" srcset="">
        <p>You have no new messages</p>
        <br />
        <div class="input-group input-inline p-2">
          <input class="form-input disabled" type="text" placeholder="search">
          <button class="btn btn-primary input-group-btn disabled">Search</button>
        </div>
      </div>
    </div>
  </div>
</section> -->

<progress class="progress" id="loading" max="100"></progress>


<section class="card noboder w100 column col-12">
  <div class="container">
    <div class="columns">

      <div class="column col-5">

        <section data-aos="fade-up" class="column p-2 " id="remainer-body">
          <h5 class="h5 text-primary text-center text-bold" id="remainer-text">Today Time Remaining</h5>
          <progress class="progress" id="remainer" value="0" max="540"></progress>
        </section>




        <section class="card noboder p-1 m-1">
          <div class="card-header">
            <div data-aos="fade-right" class="card-title text-primary h5 text">Balance</div>
          </div>
          <canvas data-aos="fade-up" id="Chart" style="width:100%;max-width:600px"></canvas>
        </section>

        <section class="card noboder p-1 m-1">
          <div class="card-header">
            <div data-aos="fade-right" class="card-title text-primary h5 text">Today</div>
          </div>
          <canvas data-aos="fade-up" id="dailydrcr" style="width:100%;max-width:600px"></canvas>
        </section>

        <section data-aos="fade-left" class="card noboder my-2 p-1">
          <div class="card-title text-primary h5">Account Status</div>
          <canvas data-aos="fade-left" id="accountStatus"></canvas>
          <button class="btn btn-link " onclick="showmore('Status')">Show More</button>
          <table data-aos="fade-left" id="Status" class="table table-striped table-cluster " style="display: none;">
            <thead>
              <tr>
                <th class="text-tiny text-bold ">Agent</th>
                <th class="text-tiny text-bold ">Today Open</th>
                <th class="text-tiny text-bold ">Today Close</th>
                <th class="text-tiny text-bold ">Yesterday Open</th>
                <th class="text-tiny text-bold ">Yesterday Close</th>
                <th class="text-tiny text-bold ">Total</th>
              </tr>
            </thead>
            <tbody id="accountStatusTable">
            </tbody>
          </table>
        </section>


      </div>
      <!-- Right Side -->
      <div class="column col-7 my-1 ">



        <section data-aos="fade-right" class="card noboder p-2 m-1">
          <div class="card-header">
            <div data-aos="fade-up" class="card-title text-primary h5">Customer Balance</div>
          </div>
          <canvas data-aos="fade-right" id="customerChart" style="width:100%;max-width:800px"></canvas>
          <button class="btn btn-link" onclick="showmore('customer')">Show More</button>
          <table data-aos="fade-right" id="customer" class="table table-striped table-cluster p-1"
            style="display: none;">
            <thead>
              <tr>
                <th class="text-tiny text-bold ">Agent</th>
                <th class="text-tiny text-bold text-ellipsis w100">Name</th>
                <th class="text-tiny text-bold ">Today</th>
                <th class="text-tiny text-bold ">Yesterday</th>
              </tr>
            </thead>
            <tbody id="customerInfo">
            </tbody>
          </table>
        </section>

        <section data-aos="fade-right">
          <div class="card noboder p-2 m-1">
            <div class="card-header">
              <div class="card-title text-primary h5">Agent Balance</div>

            </div>
            <canvas data-aos="fade-right" id="agentChart" style="width:100%;max-width:800px"></canvas>
            <button class="btn btn-link" onclick="showmore('agent')">Show More</button>

            <table data-aos="fade-right" id="agent" class="table table-striped table-cluster p-1"
              style="display: none;">
              <thead>
                <tr>
                  <th class="text-tiny text-bold ">AC</th>
                  <th class="text-tiny text-bold text-ellipsis w100">Name</th>
                  <th class="text-tiny text-bold ">Today</th>
                  <th class="text-tiny text-bold ">Yesterday</th>
                </tr>
              </thead>
              <tbody id="agentInfo">

              </tbody>
            </table>
          </div>
        </section>







        <section class="card noboder my-2">
          <h2 class="text-primary p-2 h2 ">Place Holder</h2>
          <div class="ot">
          </div>
        </section>

        <!-- Place holder -->
      </div>
    </div>
  </div>

</section>


<script src="/JS/funNotification.js" async></script>
<script src="/JS/chart.js"></script>
<script src="/JS/funHome.js" defer></script>