<main class="content">
  <div class="margin" style="margin-top: 60px;"></div>
  <!-- <hero-img>
      <img data-aos="fade-right" src="/img/unsplash/pawel-czerwinski.jpg" alt="" srcset="">
  </hero-img> -->
  <div data-aos="fade-up" class="hero bg-gray">
    <div class="hero-body">
      <h1>Hero title</h1>
      <p>This is a hero example</p>
    </div>
  </div>
</main>