<section data-aos="zoom-in" class="w100 column col-12">
  <div class="columns">

    <div class="hero w100 column col-12">
      <div class="hero-body"
        style="display: flex; flex-direction: column; justify-content: center;justify-items: center; align-items: center;">
        <img src="/img/Standardbankltd-color.svg" alt="" class="col-3 p-2" srcset="">
        <!-- <p>You have no new messages</p> -->
        <br />
        <div class="input-group input-inline p-2">
          <input class="form-input disabled" type="text" placeholder="search">
          <button class="btn btn-primary input-group-btn disabled">Search</button>
        </div>
      </div>
    </div>

  </div>
</section>
<section class="w100 column col-12">
  <div class="container">
    <div class="columns">
      <div class="column col-6">
        <canvas id="Chart" style="width:100%;max-width:600px"></canvas>
      </div>
      <div class="column col-6">Place holder</div>
    </div>
  </div>

</section>
<script src="/JS/chart.js"></script>
<script src="/JS/funHome.js"></script>