<section style="margin-top: 50px;"></section>
<section class="w100">
  <div class="empty">
    <div class="empty-icon">
      <i class="icon icon-people"></i>
    </div>
    <p class="empty-title h5">You have no new messages</p>
    <p class="empty-subtitle">...</p>
    <div class="empty-action">
      <div class="input-group input-inline">
        <input class="form-input" type="text" placeholder="search">
        <button class="btn btn-primary input-group-btn">Search</button>
      </div>
    </div>
  </div>
</section>
<section class="container p-2">
  <!-- vertical divider element with text -->
  <div class="columns col-12">
    <div class="column col-lg-6 col-md-12">
      <h2>Timeline</h2>
      <div class="card p-1">
        <table class="table table-striped table-cluster">
          <thead>
            <tr>
              <th>Time</th>
              <th>TR No</th>
              <th>Code</th>
              <th>From AC</th>
              <th>From GL</th>
              <th>To AC</th>
              <th>To GL</th>
              <th>Paid</th>
              <th>Net</th>
              <th>Charge</th>
              <th>Merchant</th>
              <th>Ref</th>
              <th>Note</th>
              <th>Particular</th>
            </tr>
          </thead>
          <tbody id="timeline">

          </tbody>

          </tbody>
        </table>
        <span class="loading loading-lg" id="loading"></span>

      </div>
    </div>


  </div>
</section>




<script src="/JS/dashboard.js"></script>