<section data-aos="zoom-in" class="w100 column col-12">
  <div class="columns">

    <div class="hero w100 column col-12">
      <div class="hero-body"
        style="display: flex; flex-direction: column; justify-content: center;justify-items: center; align-items: center;">
        <img data-aos="flip-right" src="/img/Standardbankltd-color.svg" alt="" class="col-3 p-2" srcset="">
        <!-- <p>You have no new messages</p> -->
        <br />

        <div class="input-group input-inline p-2">
          <input class="form-input disabled" type="text" placeholder="search">
          <button class="btn btn-primary input-group-btn disabled">Search</button>
        </div>
      </div>
    </div>

  </div>
</section>

<progress class="progress" id="loading" max="100"></progress>

<section class="w100 column col-12">
  <div class="container">
    <div class="columns">
      <div class="column col-6">
        <div class="card p-2 m-1">
          <div class="card-header">
            <div data-aos="fade-up" class="card-title text-primary h5">Balance</div>

          </div>
          <canvas data-aos="zoom-in" id="Chart" style="width:100%;max-width:600px"></canvas>
        </div>
        <div class="card p-2 m-1">
          <div class="card-header">
            <div data-aos="fade-up" class="card-title text-primary h5">Agent Balance</div>

          </div>
          <canvas data-aos="fade-right" id="agentChart" style="width:100%;max-width:600px"></canvas>
        </div>
        <div class="card p-2 m-1">
          <div class="card-header">
            <div data-aos="fade-up" class="card-title text-primary h5">Customer Balance</div>

          </div>
          <canvas data-aos="fade-right" id="customerChart" style="width:100%;max-width:600px"></canvas>
        </div>
        <br />
      </div>
      <div class="column col-6 my-1">
        <section data-aos="fade-up" class="card  column p-2 mt-1" id="remainer-body">

          <h4 class="h4 text-primary text-center text-bold" id="remainer-text">Time Remaining</h4>
          <progress class="progress" id="remainer" value="0" max="1070"></progress>

        </section>
        <section class="card my-2">
          <h4 class="text-primary p-2 h4 " data-aos="zoom-in-up">Place Holder</h4>

          <div class="ot">

          </div>


        </section>
        <!-- Place holder -->
      </div>
    </div>

  </div>

</section>



<script src="/JS/chart.js"></script>
<script src="/JS/funHome.js" async></script>