<section style="margin-top: 50px;"></section>
<section class="w100">
  <div class="empty">
    <div class="empty-icon">
      <i class="icon icon-people"></i>
    </div>
    <p class="empty-title h5">You have no new messages</p>
    <p class="empty-subtitle">...</p>
    <div class="empty-action">
      <div class="input-group input-inline">
        <input class="form-input" type="text" placeholder="search">
        <button class="btn btn-primary input-group-btn">Search</button>
      </div>
    </div>
  </div>
</section>
<section class="container p-2">
  <!-- vertical divider element with text -->
  <div class="columns col-12">
    <div class="column col-lg-6 col-md-12">
      <h2>Logs</h2>
      <table class="table">
        <thead>
          <tr>
            <th>name</th>
            <th>genre</th>
            <th>release date</th>
          </tr>
        </thead>
        <tbody>
          <tr class="active">
            <td>The Shawshank Redemption</td>
            <td>Crime, Drama</td>
            <td>14 October 1994</td>
          </tr>
        </tbody>
        <tr>
          <td>The Shawshank Redemption</td>
          <td>Crime, Drama</td>
          <td>14 October 1994</td>
        </tr>
        </tbody>
        <tr class="active">
          <td>The Shawshank Redemption</td>
          <td>Crime, Drama</td>
          <td>14 October 1994</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="column col-lg-6 w100 hide-sm">
      <h2>Timeline</h2>
      <div class="timeline">
        <div class="timeline-item" id="timeline-example-1">
          <div class="timeline-left">
            <a class="timeline-icon" href="#timeline-example-1"></a>
          </div>
          <div class="timeline-content">
            <!-- tiles structure -->
          </div>
        </div>

        <div class="timeline-item" id="timeline-example-2">
          <div class="timeline-left">
            <a class="timeline-icon icon-lg" href="#timeline-example-2">
              <i class="icon icon-check"></i>
            </a>
          </div>
          <div class="timeline-content">
            <!-- tiles structure -->
          </div>
        </div>
        ...
      </div>
    </div>
  </div>
</section>




<script src="/JS/test.js"></script>