<section class="mt-3">
  <h1 class="mt-2">
    Logs
  </h1>
  <h1 class="mt-2">
    Logs
  </h1>
  <input type="date" id="datetest">
  <button onclick="datetest()">Test</button>
  <p id="out"></p>
</section>



<script src="/JS/test.js"></script>