<section style="margin-top: 50px;"></section>
<section class="w100">
  <div class="hero bg-frost">
    <div class="hero-body p-2 p-centerd">
      <img src="/img/unsplash/pawel-czerwinski.jpg" alt="" srcset="" class="col-12">

    </div>
  </div>
</section>




<script src="/JS/test.js"></script>