<section data-aos="zoom-in" class="w100">
  <div class="empty">
    <div class="empty-icon">
      <img src="/img/logo.png" alt="" srcset="">
    </div>
    <p class="empty-title h5">You have no new messages</p>
    <p class="empty-subtitle">...</p>
    <div class="empty-action">
      <div class="input-group input-inline">
        <input class="form-input disabled" type="text" placeholder="search">
        <button class="btn btn-primary input-group-btn disabled">Search</button>
      </div>
    </div>
  </div>
</section>