<div class="margin" style="margin-top: 90px;"></div>
<hero>
    <div class="inner">
      <div class="hero-logo">M0N0</div>
      <p>mono.css is minimal design based on <span class="marker">black</span> and white.</p>
    </div>
  </hero>
<main class="content">

    <section class="section">
      <div class="inner">
        <h2>Feature</h2>
        <p>Mono.css is a minimal CSS framework. <br>A simple monochrome design can be applied and only a minimum style is prepared so that users can freely expand.</p>
      </div>
    </section>
  </main>
