<footer>
  <div class="hero-sm ">
    <div class="hero-body">

      <small>Standard Bank Ltd &copy; 2022 - All Rights Reserved.</small>
    </div>
  </div>

</footer>


<!-- <script src="/style/style.js"></script> -->
<script src="/style/aos/aos.js"></script>
<script src="/JS/lib/moment.js" defer></script>

<script src="/JS/lib/chart.js" defer></script>
<script src="/style/style.js" defer></script>
<script src="/JS/globalFunctions.js" async></script>
<script>
  AOS.init();
</script>