<footer style="margin-top: 100px;">
  <div class="hero hero-lg" style="bottom: 0;">
    <div class="hero-body">
      <div class="p-centered text-center">
        <!-- <small>Standard Bank Ltd</small> <br /> -->

        <% if (darkmode==='true' ) { %>
          <img src="/img/Witctcraft-1x1.svg" style="height: 2rem;">
          <%} else { %>
            <img src="/img/Witctcraft-1x1bright.svg" style="height: 2rem;">
            <% } %>



              <br>
              <small>Tanbin Hassan &copy; 2022 - All Rights Reserved.</small>
              <!-- <small>Power by Morathi Core</small> -->

      </div>
    </div>
  </div>

</footer>


<!-- <script src="/style/style.js"></script> -->
<script src="/JS/lib/js.cookie.min.js" defer></script>
<script src="/style/aos/aos.js"></script>
<script src="/JS/lib/moment.js" defer></script>
<script src="/JS/lib/chart.js" defer></script>
<script src="/style/style.js" defer></script>
<script src="/JS/ui.js" defer></script>
<script src="/JS/globalFunctions.js" async></script>

<script>
  AOS.init();
</script>