<!-- <footer>
  <div class="hero-sm ">
    <div class="hero-body">
      <h1>Standard Bank Ltd.</h1>
      <small>&copy; 2021 Copyright <span class="marker">Witchcraft</span></small>
    </div>
  </div>
</footer> -->


<!-- <script src="/style/style.js"></script> -->
<script src="/style/aos/aos.js"></script>
<!-- Option 1: Bootstrap Bundle with Popper -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script> -->
<link rel="stylesheet" href="/style/style.js">
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script>
  AOS.init();
</script>