<footer data-aos="fade-up" class="footer">
  <div class="inner">
    <small>&copy; 2021 Copyright <span class="marker">Witchcraft</span></small>
    <div class="sns">
      <a href="#"><i class="fa fa-github"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
</footer>
<script src="/style/style.js"></script>
<script src="/style/aos/dist/aos.js"></script>
<!-- <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> -->
<script>
  AOS.init();
</script>