<footer data-aos="fade-up" class="footer">
    <div class="inner">
      <small>&copy; 2021 Copyright <span class="marker">Witchcraft</span></small> 
      <div class="sns">
        <a href="#"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </footer>
  <script>
    AOS.init();
  </script>