<nav>
    <div style="margin-right: auto;"><button class="sidemenu" onclick="openNav()"><i
                class="large material-icons">arrow_forward</i></button></div>
   
                <div style="margin-left: auto;"><a href="#">Usage</a><a href="#">Document</a><a href="#">GitHub</a></div>
</nav>