<header data-aos="fade-down" class="navbar m-0 bg-frost  p-fixed w100" id="navbar">
    <section class="navbar-section">

        <% if (darkmode==='true' ) { %>
            <a href="/" class="navbar-brand"><img src="/img/Standardbankltd.svg" class="col-10" alt=""></a>

            <%} else { %>
                <a href="/" class="navbar-brand"><img src="/img/Standardbankltd-color.svg" class="col-10" alt=""></a>

                <% } %>



    </section>
    <section class="navbar-center">
        <!-- anythin needs to be centered -->
    </section>
    <section class="navbar-section">
        <a href="/" class="btn btn-link"><i class="large material-icons">home</i></a>
        <a onclick="notificationopen()" id="navbtn" class="btn btn-link"></a>
        <!-- <div class="dropdown dropdown-right">
            <a href="#" class=" btn btn-link dropdown-toggle" tabindex="0">
                Apps <i class="icon icon-caret"></i>
            </a>
            <ul class="menu ">
                <li class="menu-item"><a href="/timeline">Timeline</a></li>
                <li class="menu-item text-error"><a href="/report/customerInfo">Customer Info</a></li>
            </ul>
        </div> -->
        <!-- <a class=" btn btn-link" onclick="sidenavopen()" id="navbtn"></a> -->

        <div class="dropdown dropdown-right">
            <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
                <figure class="avatar avatar-sm" data-initial=" <%= userid.substring(2, 0); %> "></figure>
            </a>

            <ul class="menu">

                <li id="username" class="divider" data-content=" <%= userid %>">
                </li>

                <li class="menu-item">

                    <a href="#" type="button" class="btn text-primary btn-link text-ellipsis  mui-adjust">

                        <i class="material-icons" style="font-size: 1 rem ">settings</i>

                        <span class="text-uppercase ml-1">
                            <%= role.substring(1, 0); %>
                        </span>
                        <span class="text-lowercase mr-1">
                            <%= role.substring(55, 1); %>
                        </span> Settings
                    </a>

                </li>
                <li class="menu-item">
                    <label class="form-switch text-primary">
                        <input type="checkbox" onclick="darkmode()" id="darkmode">
                        <i class="form-icon"></i> Dark Mode
                    </label>
                </li>

                <li class="divider"></li>

                <!-- <li class="menu-item">
                    <a href="#" class="disabled">
                        <i class="icon icon-settings_input_composite"></i> User
                    </a>
                </li> -->

                <!-- <li class="menu-item">
                    <a href="#" class="disabled"> <i class="icon 
                        icon-message"></i> Massage</a>
                    <div class="menu-badge">
                        <label class="label label-primary">2</label>
                    </div>
                </li> -->

                <li class="menu-item">
                    <a href="mailto:tanbin.3341@standardbankbd.com" type="button"
                        class="btn btn-link mui-adjust text-primary">
                        <i class="material-icons mr-1" style="font-size: 1 rem ">email</i>Contact</a>
                </li>

                <li class="menu-item">
                    <a onclick="logout()" type="button" class="btn btn-link mui-adjust text-error">
                        <i class="material-icons mr-1" style="font-size: 1 rem ">power_settings_new</i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </section>
</header>
<section>

    <!-- <div class="columns" id="notification"> -->

    <div class="panel column col-6
        <% if (darkmode==='true' ) { %>
            bg-frost-dark 
            <%} else { %>
                bg-frost
                <% } %>
        p-fixed col-4 " id="notification" style="position: absolute; height:100vh; right: 0; top: 0; z-index: 90;">
        <div class="panel-header">



            <div class="panel-title  text-primary py-1 d-flex" style="justify-content: space-between;">
                <h1 class="h1">
                    Notification
                </h1>
                <button class="btn btn-link  text-error" onclick="notificationclose()"><i
                        class="material-icons ">close</i></button>
            </div>
            <!-- <div class="input-group">
                    <input class="form-input" type="text" placeholder="Search">
                </div>  -->
        </div>
        <!-- <ul class="tab tab-block">
                <li class="tab-item active">
                    <a href="#">Resent</a>
                </li>
                <li class="tab-item">
                    <a href="#">Previous</a>
                </li>
            </ul> -->
        <div class="panel-body" id="panel-body">
            <div class="panel-footer">
            </div>
        </div>
    </div>

</section>
<div style="margin-bottom:80px ;"></div>