<header data-aos="fade-down" class="navbar m-0 bg-frost p-fixed w100" id="navbar">
    <section class="navbar-section">
        <a href="/" class="navbar-brand"><img src="/img/Standardbankltd-color.svg" class="col-10" alt=""></a>
    </section>
    <section class="navbar-section">
        <!-- <div onclick="sideNavTigger()" class="navbar-brand">SIdeBAR</div> -->
        <!-- <a href="..." class="btn btn-link">Docs</a> -->
        <a href="/" class="btn btn-link">Home</a>
        <div class="dropdown dropdown-right">
            <a href="#" class=" btn btn-link dropdown-toggle" tabindex="0">
                Apps <i class="icon icon-caret"></i>
            </a>
            <!-- menu component -->
            <ul class="menu ">
                <li class="menu-item"><a href="/timeline">Timeline</a></li>
                <li class="menu-item text-error"><a href="/report/customerInfo">Customer Info</a></li>
            </ul>
        </div>
        <div class="dropdown dropdown-right">
            <a href="#" class=" btn btn-link dropdown-toggle" tabindex="0">
                Reports <i class="icon icon-caret"></i>
            </a>
            <!-- menu component -->
            <ul class="menu ">

                <li class="menu-item"><a href="/report/accountStatment">Account Statment</a></li>
                <!-- <li class="menu-item"><a href="/report/transactionsReport">Transactions Report</a></li> -->
                <li class="menu-item"><a href="/report/remittanceReport">Remittance Report</a></li>
                <li class="menu-item"><a href="/report/utilityreport">Utility Report</a></li>
            </ul>
        </div>
        <div class="dropdown dropdown-right">
            <a href="#" class=" btn btn-link dropdown-toggle" tabindex="0">
                <i class="icon icon-menu text-primary"></i>
                <!-- <button class="app btn btn-link dropdown-toggle"
                onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))"
                aria-label="Main Menu">
                <svg width="30" height="30" viewBox="0 0 100 100">
                    <path class="line line1"
                        d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                    <path class="line line2" d="M 20,50 H 80" />
                    <path class="line line3"
                        d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
                </svg>
            </button> -->
            </a>
            <!-- menu component -->
            <ul class="menu">
                <!-- menu header text -->
                <li class="divider" data-content="Profiles">
                </li>
                <!-- menu item with form control -->
                <li class="menu-item">
                    <label class="form-checkbox">
                        <input type="checkbox disabled">
                        <i class="form-icon"></i> Dark Mode
                    </label>
                </li>
                <!-- menu divider -->
                <li class="divider"></li>
                <!-- menu item with badge -->
                <li class="menu-item">
                    <a href="#" class="disabled">
                        <i class="icon icon-people "></i> User

                    </a>

                </li>

                <li class="menu-item">
                    <a href="#" class="disabled"> <i class="icon 
                        icon-message"></i> Massage</a>
                    <div class="menu-badge">
                        <label class="label label-primary">2</label>
                    </div>
                </li>
                <!-- menu item standard -->
                <li class="menu-item">
                    <a onclick="" class="disabled">
                        <i class="icon icon-shutdown text-error"></i> Logout
                    </a>
                </li>
            </ul>
        </div>



    </section>
</header>
<div style="margin-bottom:80px ;"></div>