<header data-aos="fade-down" class="navbar m-0 bg-frost p-fixed w100" id="navbar">
    <section class="navbar-section">
        <a href="/" class="navbar-brand"><img src="/img/Standardbankltd-color.svg" class="col-10" alt=""></a>
    </section>
    <section class="navbar-center">
        <a class=" btn btn-link" onclick="sidenavopen()" id="navbtn"></a>
    </section>
    <section class="navbar-section">
        <a href="/" class="btn btn-link">Home</a>
        <div class="dropdown dropdown-right">
            <a href="#" class=" btn btn-link dropdown-toggle" tabindex="0">
                Apps <i class="icon icon-caret"></i>
            </a>
            <ul class="menu ">
                <li class="menu-item"><a href="/timeline">Timeline</a></li>
                <li class="menu-item text-error"><a href="/report/customerInfo">Customer Info</a></li>
            </ul>
        </div>
        <div class="dropdown dropdown-right">
            <a href="#" class=" btn btn-link dropdown-toggle" tabindex="0">
                Reports <i class="icon icon-caret"></i>
            </a>
            <ul class="menu ">

                <li class="menu-item"><a href="/report/accountStatment">Account Statment</a></li>
                <!-- <li class="menu-item"><a href="/report/transactionsReport">Transactions Report</a></li> -->
                <li class="menu-item"><a href="/report/remittanceReport">Remittance Report</a></li>
                <li class="menu-item"><a href="/report/utilityreport">Utility Report</a></li>
                <li class="menu-item"><a href="/report/accountInfo">Account Info</a></li>

            </ul>
        </div>
        <div class="dropdown dropdown-right">
            <a href="#" class="disabled btn btn-link dropdown-toggle" tabindex="0">
                Setting <i class="icon icon-caret"></i>
            </a>

            <ul class="menu">

                <li class="divider" data-content="Profiles">
                </li>

                <li class="menu-item">
                    <label class="form-checkbox">
                        <input type="checkbox disabled">
                        <i class="form-icon"></i> Dark Mode
                    </label>
                </li>

                <li class="divider"></li>

                <li class="menu-item">
                    <a href="#" class="disabled">
                        <i class="icon icon-people "></i> User

                    </a>

                </li>

                <li class="menu-item">
                    <a href="#" class="disabled"> <i class="icon 
                        icon-message"></i> Massage</a>
                    <div class="menu-badge">
                        <label class="label label-primary">2</label>
                    </div>
                </li>

                <li class="menu-item">
                    <a onclick="" class="disabled">
                        <i class="icon icon-shutdown text-error"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </section>
</header>
<div style="margin-bottom:80px ;"></div>