<div id="sidebar" class="hide-md bg-opt">

    <div class="docs-nav">
        <div class="accordion-container">
            <div class="accordion">
                <input id="accordion-getting-started" type="checkbox" name="docs-accordion-checkbox" hidden="">
                <label class="accordion-header text-primary " for="accordion-getting-started">Apps</label>
                <div class="accordion-body">
                    <ul class="menu menu-nav">
                        <% if(role==='ADMIN' || role==='APPROVAL' ){ %>
                            <li class="menu-item">
                                <a href="/timeline">Timeline</a>
                            </li>
                            <% } %>
                                <% if(role==='ADMIN' || role==='APPROVAL' ){ %>
                                    <li class=" menu-item">
                                        <a href="/customerInfo">Customer Info</a>
                                    </li>
                                    <% } %>
                    </ul>

                </div>
            </div>
            <div class="accordion">
                <input id="accordion-elements" type="checkbox" name="docs-accordion-checkbox" hidden="">
                <label class="accordion-header text-primary" for="accordion-elements">Customer Master</label>
                <div class="accordion-body">
                    <ul class="menu menu-nav">

                        <% if(role==="USER" || role==="AGENT" ){ %>
                            <li class="menu-item"><a href="/report/accountInfo">Add Customer</a></li>
                            <li class="menu-item"><a href="/report/accountInfo">Add Account</a></li>
                            <% } %>
                                <li class="menu-item"><a href="/kycupdate">Eco Code Update</a></li>

                    </ul>
                </div>
            </div>
            <div class="accordion">
                <input id="accordion-layout" type="checkbox" name="docs-accordion-checkbox" hidden="">
                <label class="accordion-header text-primary" for="accordion-layout">Transaction</label>
                <div class="accordion-body">
                    <ul class="menu menu-nav">



                        <% if(role!="USER" || role!="AGENT" ){ %>
                            <li class="menu-item"><a href="/remittanceProcessing">Remittance</a></li>
                            <% } %>
                                <% if(role==="USER" || role==="AGENT" ){ %>
                                    <li class="menu-item"><a href="/requestRemittance">Request Remittance</a></li>
                                    <% } %>
                                        <% if(role==="USER" || role==="AGENT" ){ %>

                                            <li class="menu-item"><a href="/report/accountInfo">Teller Operation</a>

                                            <li class="divider" data-content="Payment"></li>
                                            <li class="menu-item"><a href="/remittanceProcessing">Remittance</a>
                                            </li>
                                            <li class="menu-item"><a href="/report/accountInfo">Utility</a>
                                            </li>

                                            </li>
                                            <% } %>
                    </ul>
                </div>
            </div>
            <div class="accordion">
                <input id="accordion-components" type="checkbox" name="docs-accordion-checkbox" hidden="">
                <label class="accordion-header  text-primary" for="accordion-components">Reports</label>
                <div class="accordion-body">
                    <ul class="menu menu-nav">

                        <li class="menu-item "><a href="/report/accountStatment">Statment</a></li>


                        <li class="menu-item"><a href="/report/accountInfo" class="text-ellipsis">Term Account
                                Status</a>
                        </li>

                        <% if(role==='ADMIN' || role==='APPROVAL' ){ %>
                            <li class="menu-item"><a href="/report/businessinfo">Account Info</a></li>

                            <% } %>
                                <% if(role==='ADMIN' || role==='APPROVAL' ){ %>
                                    <li class="menu-item"><a href="/report/remittanceReport">Remittance Report</a>
                                    </li>

                                    <% } %>

                                        <li class="menu-item"><a href="/report/utilityreport">Utility Report</a>
                                        </li>


                                        <% if(role==='ADMIN' || role==='APPROVAL' ){ %>
                                            <li class="menu-item"><a href="/report/mis">MIS</a></li>

                                            <% } %>

                    </ul>
                </div>
            </div>


        </div>
    </div>
</div>