<ul data-aos="fade-right" class="nav m-0" id="sidenav">
    <div class="w100 ">

        <!-- <li class="nav-item"><a href="/">
                <figure class="avatar avatar-sm" data-initial="<%= //userid.substring(2, 0); %>">
                </figure>
                <%= userid %>
            </a></li> -->

    </div>
    <li class="divider bg-primary"></li>
    <li class="nav-item">
        <!-- <span class="text-primary h5">app <i class="icon icon-more-horiz" style="font-size:small"></i></span> -->
        <samp class="text-primary h5">Apps</samp>
        <ul class="nav" id="app">
            <% if(role==='ADMIN' || role==='APPROVAL' ){ %>

                <li class="nav-item">
                    <a href="/timeline">Timeline</a>
                </li>
                <% } %>
                    <% if(role==='ADMIN' || role==='APPROVAL' ){ %>

                        <li class="nav-item">
                            <a href="/report/customerInfo">Customer Info</a>
                        </li>
                        <% } %>
                            <% if(role==="USER" || role==="AGENT" ){ %>
                                <li class="divider bg-primary" data-content="Registration"></li>
                                <ul class="nav" id="app">
                                    <li class="nav-item"><a href="/report/accountInfo">Add Customer</a></li>
                                    <li class="divider" data-content="Link up"></li>
                                    <li class="nav-item"><a href="/report/accountInfo">Add Account</a></li>
                                </ul>
                                <% } %>

                                    <% if(role==="USER" || role==="AGENT" ){ %>
                                        <li class="divider" data-content="Transaction"></li>
                                        <li class="nav-item"><a href="/report/accountInfo">Teller Operation</a></li>
                                        <ul class="nav" id="app">
                                            <li class="divider" data-content="Payment"></li>
                                            <li class="nav-item"><a href="/report/accountInfo">Remittance</a></li>
                                            <li class="nav-item"><a href="/report/accountInfo">Utility</a></li>
                                        </ul>
                                        <% } %>
        </ul>
    </li>
    <!-- 
        <li class="nav-item">
         test with dropdown
        <div class="dropdown">
            <div class="btn-group">

                <a href="#" class="btn dropdown-toggle btn-link" tabindex="0">
                    Teller<i class="icon icon-caret"></i>
                </a>

               
                <ul class="menu">

                    <li class="nav-item"><a href="/report/accountInfo">Utility</a></li>
                </ul>
            </div>
        </div>
    </li> -->
    <li class="nav-item">
        <samp class="text-primary h5">Reports</samp>
        <ul class="nav" id="app">

            <li class="nav-item "><a href="/report/accountStatment">Statment</a></li>

            <% if(role==='ADMIN' || role==='APPROVAL' ){ %>
                <li class="nav-item"><a href="/report/accountInfo">Account Status</a></li>
                <% } %>
                    <% if(role==='ADMIN' || role==='APPROVAL' ){ %>
                        <li class="nav-item"><a href="/report/businessinfo">Account Info</a></li>

                        <% } %>
                            <% if(role==='ADMIN' || role==='APPROVAL' ){ %>
                                <li class="nav-item"><a href="/report/remittanceReport">Remittance Report</a>
                                </li>

                                <% } %>

                                    <li class="nav-item"><a href="/report/utilityreport">Utility Report</a>
                                    </li>


                                    <% if(role==='ADMIN' || role==='APPROVAL' ){ %>
                                        <li class="nav-item"><a href="/report/mis">MIS</a></li>

                                        <% } %>


        </ul>
    </li>
    <!-- <li class="nav-item">
        <samp class="text-primary h5">Setting</samp>
        <ul class="nav" id="app">

            <li class="nav-item">
                <a onclick="logout()" class="text-error text-bold">Logout</a>
            </li>
        </ul>
    </li> -->
</ul>