<sidenav id="sidenavtigger">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="large material-icons">arrow_back</i></a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </sidenav>