<div data-aos="zoom-in-left" class="column col-6 col-xs-12 p-fixed bg-frost" id="sidenav">
    <div class="panel">
        <div class="panel-header">

            <div class="panel-title  text-primary py-1 d-flex" style="justify-content: space-between;">
                <h4 class="h4">
                    Notification
                </h4>

                <button class="btn btn-link ml-1 text-error" onclick="sidenavclose()">Close</button>
            </div>


            <div class="input-group">
                <input class="form-input" type="text" placeholder="Hello">
                <button class="btn btn-primary-link input-group-btn-link">Send</button>
            </div>
        </div>
        <div class="panel-body" id="panel-body">
            <!-- <div class="tile">
                <div class="tile-icon">
                    <figure class="avatar"><img src="../img/avatar-1.png" alt="Avatar"></figure>
                </div>
                <div class="tile-content">
                    <p class="tile-title text-bold">Thor Odinson</p>
                    <p class="tile-subtitle">Earth's Mightiest Heroes joined forces to take on threats that were too big
                        for any one hero to tackle...</p>
                </div>
            </div> -->




            <div class="panel-footer">

            </div>
        </div>
    </div>
    <script src="/JS/funNotification.js" async></script>