<div data-aos="zoom-in-left" class="columns  p-fixed" id="sidenav">
    <div class="panel column col-6 bg-frost p-centered ">
        <div class="panel-header">
            <div class="panel-title  text-primary py-1 d-flex" style="justify-content: space-between;">
                <h1 class="h1">
                    Notification
                </h1>
                <button class="btn btn-link  text-error" onclick="sidenavclose()"><i
                        class="material-icons ">close</i></button>
            </div>
            <!-- <div class="input-group">
                <input class="form-input" type="text" placeholder="Search">
            </div> -->
        </div>
        <!-- <ul class="tab tab-block">
            <li class="tab-item active">
                <a href="#">Resent</a>
            </li>
            <li class="tab-item">
                <a href="#">Previous</a>
            </li>
        </ul> -->
        <div class="panel-body" id="panel-body">
            <div class="panel-footer">
            </div>
        </div>
    </div>