<sidenav id="sidenavtigger">

    <button href="javascript:void(0)" class="closebtn tigger" onclick="closeNav()"><i class="large material-icons">close</i></button>

    
    <a href="/report/customerInfo">Customer Info</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </sidenav>