<section>
  <div class="modal p-2" id="homeModel">
    <a href="#close" class="modal-overlay" aria-label="Close" onclick="closeModel()"> Close</a>
    <div class="modal-container" id="modeloutput">
      <h3 class="h3 text-primary p-2">Agent Monthly Activity</h3>
      <canvas data-aos="fade-up" id="dailydrcragent" style="width:100%;"></canvas>
    </div>
  </div>
</section>

<div class="container">
  <div class="columns">


    <section class="card noboder w100 column col-12">
      <div class="container">
        <div class="columns">

          <section data-aos="fade-right" class="card noboder col-6 skeleton-loading" id="today_trans">
            <div class="card-header">
              <div data-aos="fade-right" class="card-title text-primary h5 py-2">Today's Transaction</div>
            </div>
            <canvas data-aos="fade-up" id="dailydrcr"></canvas>
          </section>


          <section data-aos="fade-right" class="card noboder skeleton-loading col-6" id="agent_balance">
            <div class="card noboder p-2 m-1">
              <div class="card-header">
                <div class="card-title text-primary h5">Agent Balance</div>
              </div>
            </div>
          </section>

        </div>
      </div>
      <div class="container">
        <div class="columns">

          <div class="column col-5">

            <section class="card noboder p-1 m-1 skeleton-loading" id="balance_pie">
              <div class="card-header">
                <div data-aos="fade-right" class="card-title text-primary h3 py-2">Balance</div>
              </div>
            </section>


          </div>
          <!-- Right Side -->
          <div class="column col-7 my-1 ">
            <section data-aos="fade-right" class="card noboder skeleton-loading p-2 m-1" id="customer_banlance">
            </section>
          </div>
        </div>
      </div>

    </section>
  </div>

</div>











<script src="/JS/common/funHome.js" param="<%=owner %>">

</script>
<script src="/JS/index.js"></script>