<section>
  <div class="modal p-2" id="homeModel">
    <a href="#close" class="modal-overlay" aria-label="Close" onclick="closeModel()"> Close</a>
    <div class="modal-container" id="modeloutput">
      <h3 class="h3 text-primary p-2">Agent Monthly Activity</h3>
      <canvas data-aos="fade-up" id="dailydrcragent" style="width:100%;"></canvas>
    </div>
  </div>
</section>

<div class="container">
  <div class="columns">
    <div class="hero bg-gray">
      <div class="hero-body">
        <h1>Agent Banking System</h1>
        <p>This is a hero example</p>
      </div>
    </div>

  </div>

</div>