<main class="content m-2">


    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a>Account Statement</a>
        </li>

    </ul>
    <div data-aos="zoom-out" class="hero-sm bg-white">
        <div class="hero-body">
            <h1 class="text-primary">Account Statement</h1>
        </div>
    </div>
    <div data-aos="zoom-out" class="container">
        <!-- normal input group with button -->
        <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
            <div class="input-group">
                <span class="input-group-addon" id="frommonthtext">From</span>
                <input type="date" id="fromdate" class="form-input" placeholder="Type Account Number">
                <span class="input-group-addon" id="frommonthtext">To</span>
                <input type="date" id="todate" class="form-input" placeholder="Type Account Number">
                <input type="number" id="key" class="form-input" placeholder="Type Account Number">
                <button class="btn btn-primary input-group-btn" onclick="statement()" id="btn-loading">Search
                </button>
                <button class="btn btn-secondary input-group-btn d-none" onclick="printArea('Statment')"
                    id="btnprint">Print
                </button>
                <button class="btn btn-secondary input-group-btn d-none" style="margin-left: auto;" id="btndownload"
                    onclick="pdfdl()">Download
                </button>
            </div>
        </div>

    </div>

    <style>
        .empty-header,
        .empty-footer {
            height: 100px
        }

        .header,
        .footer {
            position: fixed;
            height: 100px;
            top: 0;
        }

        .footer {
            bottom: 0
        }
    </style>



    <div data-aos="zoom-in" class="container">




        <div class="columns" id="output">

        </div>
    </div>

    <script src="/js/funStatement.js"></script>

</main>