<main class="content m-2">


    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/reconciliation">Reconciliation</a>
        </li>

    </ul>
    <div data-aos="zoom-out" class="hero-sm">
        <div class="hero-body">
            <h1 class="text-primary">Reconciliation </h1>
        </div>
    </div>

    <div class="modal modal-xl" id="modal-id">
        <a href="#close" class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container" id="modal-container">

        </div>
    </div>

    <div class="container" id="output">
        <progress class="progress" id="progress"></progress>
    </div>
    <script src="/js/funReconciliation.js"></script>
</main>