<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/style/spectre/spectre.css">
</head>

<body style="background-color: #fff7ed;">
    <div style="display: flex; justify-content: center; align-items: center; align-content: center;">

        <div class="hero ">
            <div class="hero-body"
                style="display: flex; flex-direction: column; justify-content: center; align-items: center; align-content: center;">
                <h1>404! Page not found</h1>

                <img src="/img/404.gif" alt=""><br />
                <a class="btn btn-link text-dark" href="/">Back to Home</a>
                <small style="position: absolute; bottom: 0;">Standard Bank Ltd &copy; 2022 - All Rights
                    Reserved.</small>
            </div>

        </div>
    </div>

</body>

</html>